/**
 * There's change in the source!
 *
 * Color palette:
 * - teal: #008d8d
 * - orange: #c5820e
 * - dark grey: #444343
 * - light grey: #908f8f
 * - text: #414141
 *
 * Fonts: Arial and Futura
 */
html, body {
  margin: 0;
  padding: 0;
  background: #444343;
  font-family: Helvetica, Arial, sans-serif;
}
img { border: 0; }
ul { line-height: 1.5em; }
p { line-height: 1.35em; }
a { color: #008d8d;  text-decoration: none; }
a:hover { text-decoration: underline; }
#header, #body .wrap, #footer { width: 800px; margin: auto; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* Header */
#header { position: relative; padding: 1em 0 2.5em 0; }
.info {
  text-align: right;
  position: absolute;
  top: 42px;
  right: 0px;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
}
  .info a {
    color: #fff;
    border-bottom: 1px dashed #fff;
    text-decoration: none;
    padding-bottom: 3px;
  }
#tagline { width: 590px; font-size: 1.8em; line-height: 1.3em; }
#next-event { margin-top: 30px; }
h1#logo {
  text-indent: -9999px;
  margin: 0;
  background: url(images/logo.png);
  width: 190px;
  height: 190px;
}
#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1.5em;
}
#nav li { display: inline; }
#nav a {
  margin-left: 25px;
  padding: 0.2em 0;
  font-family: "Futura", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #008d8d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  width: 140px;
  text-align: center;
  float: left;
  display: block;
}
#nav .first a { margin: 0; }
#nav .last a { background: #c5820e; }

/* Main content */
#body {
  background: #fff;
  border: 3px solid #908f8f;
  border-left: 0;
  border-right: 0;
  color: #414141;
  padding: 0 0 3.5em 0;
  min-width: 800px;
}

#body h2 { border-bottom: 2px solid #908f8f; }
#body .section { position: relative; margin-top: 3.75em; }
.section a.top {
  position: absolute;
  right: 0;
  top: 4px;
  background: url(images/top.png) no-repeat right 6px;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  color: #414141;
  padding: 5px 15px 5px 15px;
}
#body .change { border-bottom: 2px dashed #414141;}
.event-past { clear: both; }
.event-logo { float:left; margin-bottom: 20px; }
.event-info { margin-left: 210px; }
h3#speakers { clear:left; }

/* Poll tweaks */
.PDS_Poll .pds-box { width: auto !important; }
.PDS_Poll .pds-answer { border: 0 !important; }
.PDS_Poll #pds-answer2945984 .pds-answer-group { float: left; width: 175px; }
.PDS_Poll .pds-answer-group { float: left; width: 250px; }
.PDS_Poll .pds-input-label { width: 150px !important; }
.PDS_Poll .pds-vote { clear: both; }

/* Event styles */
#banner { background: #444343; width: 100%; padding: 10px 0; }
#banner a {
  color: #fff;
  margin-left: 5px;
  padding-left: 14px;
  background: url(images/back.png) left 3px no-repeat;
  text-decoration: none;
}
body.event #body { min-width: 1024px; }
body.event #body .wrap { width: 1024px; margin: auto; }
body.event h1,
body.event #body h2,
body.event #body h3,
body.event .audio,
body.event .event-logo {
  margin-left: 112px; /* (1024 - 800) / 2 */
}
body.event #event-info {
  position: absolute;
  right: 10px;
  top: 11px;
  font-style: italic;
}
body.event #body p, body.event #body ul { width: 800px; margin: 1em auto; }
body.event #body ul { padding-left: 9em; }
body.event .speaker { margin-top: 2em; }
body.event blockquote {
  font-family: Times;
  font-style: italic;
  margin: 1em auto;
  padding: 0 70px;
  position:relative;
  width: 660px;
  font-size: 1.6em;
}
body.event blockquote .sixtysix, body.event blockquote .ninetynine {
  position: absolute;
  font-size: 4em;
  top: -9px;
}
body.event blockquote .sixtysix { left: 0; }
body.event blockquote .ninetynine { right: 0; }
body.event .source { text-align: right; margin-right: 165px; }
body.event audio { width: 470px; height: 24px; }
body.event .event-logo { margin-right: 20px; }
.speaker .role { font-style: italic; }

/* Footer */
#footer-title {
  padding: 0.2em 1.1em;
  font-family: Futura;
  color: #fff;
  background: #008d8d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  display: inline;
  position:relative;
  top: -0.9em;
}

#sponsors { clear: both; }
.sponsor { float: left; background: #fff; padding: 1em; margin: 1em 0; }
.sponsor .role { color: #414141; padding-bottom: 1em; }
#closure {
  clear:both;
  text-align: center;
  margin: 1em;
  padding: 1.5em 0;
  font-size: 0.7em;
  color: #908f8f;
}
